.container_cards {
    padding: 0px 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
    gap: 1rem;
}

.card {
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.img_card {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
    position: relative;
}

.description {
    display:  flex;
    background: #254f7fb0;
    transition: 1s;
}

.description h3,
.description p {
    padding-left: 10px;
}

.card:hover .description {
    top: 0vh;
}

.text_Description {
    font-size: 1.8rem;
    position: relative;
    color: var(--white);
    font-weight: 300;
    text-align: center;
    margin: 10px;
    word-spacing: 4.5px;
}

.action_buttons {
    position: relative;
    bottom: 50px;
    left: 50px;
    padding: 0.6em;
    background-color: var(--deep-blue);
    border-radius: 5px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}

.action_buttons:hover {
    cursor: pointer;
    color: var(--white);
}

.action_Card:hover {
    filter: blur(2px);
}

@media (max-width: 390px) {
    .card {
        width: 310px;
        height: 200px;
    }
    .text_Description{
        font-size: 1rem;
        padding: 0px 40px;
    }
}