.subtitle {
    color: var(--primary-color);
    text-align: center;
    opacity: 0.4;
    font-weight: 400;
    line-height: 15px;
}

.text {
    position: relative;
    color: white;
    font-weight: 300;
    text-align: center;
    margin: 10px;
    font-size: 1em;
    word-spacing: 4.5px;
}

.text>span {
    display: flex;
    margin-top: 0.9em;
    font-weight: 700;
}

.container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    position: relative;
}

.img {
    opacity: 0.5;
}

.card:hover,
.container_text:hover,
.img:hover {
    opacity: 1;
    scale: 1.1;
    cursor: pointer;
}

.container_text {
    display: flex;
    top: 20%;
    padding-left: 10px;
    position: absolute;
    color: white;
    align-items: center;
    font-weight: 500;
}