.subtitle {
    color: var(--primary-color);
    text-align: center;
    opacity: 0.4;
    line-height: 15px;
    font-weight: 100;
    font-size: 1.5rem;
    color: --lighter-gray;
}

.text_Description {
    position: relative;
    color: var(--white);
    font-weight: 300;
    text-align: center;
    margin: 10px;
    font-size: 1.3rem;
    word-spacing: 4.5px;
    padding: 0px 1.2rem;
}

.last_Text_Description {
    font-size: 1.8rem;
    padding-top: 2em;
    font-weight: 700;
    text-align: center;
    color: var(--white);
}

.container_Images {
    display: flex;
    margin: 4rem 0;
    /* gap: 10px; */
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
}

.img {
    opacity: 0.5;
}

.card:hover,
.container_text:hover,
.img:hover {
    opacity: 1;
}

.container_text {
    display: flex;
    top: 20%;
    padding-left: 10px;
    position: absolute;
    color: white;
    align-items: center;
    font-weight: 500;
}

/* Estilos para galaxy fold */
@media (max-width: 320px) {
    .subtitle {
        line-height: 30px;
    }
    .text_Description{
        font-size: 1.2rem;
    }
    .text {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .subtitle {
        line-height: 30px;
    }

    .text {
        font-size: 1.2rem;
    }
}