.rrss {
    margin: 5px;
    display: flex;
    position: fixed;
    /* position: relative; Para evaluar cómo se vería en el fondo */
    bottom: 0px;
}

.icons {
    cursor: pointer;
    margin: 0.5em;
    background-color: white;
    border-radius: 50%;
    padding: 0.5em;
    opacity: 0.5;
}

.icons:hover {
    opacity: 1;
    scale: 1.1;
}