/* Main style component */
.hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style background  */
.hero_bg {
    background-image: url('../../../../public/ReactBA-hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    filter: blur(2px);
    opacity: 0.2;
}

/* Style container title */
.title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 10px;
}

.title_container {
    align-items: center;
    position: absolute;
    top: 30%;
    color: #ffffff;
}

.inner_title_container {
    height: 40px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

/* Animation code */
.span1 {
    position: absolute;
    color: #00d8ff;
    animation: animation1 6s ease-in-out infinite;
}

.span2 {
    position: absolute;
    color: #00d8ff;
    animation: animation2 6s ease-in-out infinite;
}

@keyframes animation1 {
    0%, 25% {
        opacity: 1;
        transform: translateY(0);
    }
    28% {
        opacity: 0;
    }
    35%, 40% {
        transform: translateY(-80%);
    }
    50%, 70% {
        opacity: 0;
        transform: translateY(80%);
    }
    75% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }

}

@keyframes animation2 {
    0%, 25% {
        opacity: 0;
        transform: translateY(80%);
    }
    30%, 70% {
        opacity: 1;
        transform: translateY(0);
    }
    75%, 80% {
        opacity: 0;
        transform: translateY(-80%);
    }
    100% {
        opacity: 0;
        transform: translateY(80%);
    }
}