.giveaways_section{
    margin-top: 5rem;
    height: 100vh;  /* */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.giveaways_link{
    text-decoration: none;
    width: 80%;
    cursor: pointer;
}

.giveaways_link:hover{
    scale: 1.03;
}

.random_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    border-radius: var(--border-radius);
    border: var(--border-white);
    padding: 0 1rem;
}

@media (min-width:667px){
    .giveaways_section{
        margin-top: 6rem;
    }
    .giveaways_link{
        width: 500px;
    }
}
