.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 11;
    bottom: 4rem;
    right: 10px;
    border-radius: 5px;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.526);
    border: solid 0.5px var(--blue);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-3;
    animation-timing-function: ease;
    transform-origin: bottom;
    max-width: 600px;
    backdrop-filter: blur(10px);
}

.title{
    color:white;
    margin-top: 2px;
}

.link{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}

@keyframes bounce-3 {
    0%   { transform: translateY(0);}
    30%  { transform: translateY(-10px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0);}
}

@media (max-width: 400px) {
    .modal{
        right: 1px;
        margin: 0 0.5rem;

    }
}

@media (min-width: 600px) {
    .modal{
        max-width: 400px;
    }
}

@media (max-width: 767px) {
    .modal{
        bottom: 5px;
    }
  }

  



