.notification{
    display: flex;
    position: fixed;
    margin: 0 0.5rem;
    z-index: 11;
    bottom: .5rem;
    border-radius: 5px;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.526);
    border: solid 0.5px var(--blue);
    /* animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-3;
    animation-timing-function: ease;
    transform-origin: bottom; */
    backdrop-filter: blur(10px);
}
.close_text{
    margin: 1px;
    padding: 1px;
    color: var(--blue);
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.title{
    display: flex;
    flex-direction: row;
    color:white;
    margin-top: 2px;
}

.social_media_icon:hover{
    color:#ff1154;
}

.link{
    color: var(--primary-color);
    text-decoration: none;
    cursor: pointer;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}

/* @keyframes bounce-3 {
    0%   { transform: translateY(0);}
    30%  { transform: translateY(-10px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0);}
} */

@media (min-width: 767px) {
    .notification{
        top: 5px;
        width: 99%;
        bottom: none;
        height: max-content;
    }

    .card{
        display: flex;
        flex-direction: column;
    }
  }

  



