.random_container {
    margin-top: 5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_container {
    display: flex;
    align-items: center;
}

.text {
    color: var(--white);
    font-size: var(--title-font-size);
}

.input {
    margin-left: 1rem;
    width: 60px;
    height: 40px;
    border: var(--border-white);
    border-radius: var(--border-radius);
    color: var(--white);
    font-size: 2rem;
    font-weight: 700;
    background-color: transparent;
    text-align: center;
}

.input:focus {
    outline: none;
    border-color: var(--white);
}

.random_winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: var(--border-radius);
    width: 200px;
    height: 100px;
    background-color: white;
    font-size: 5rem;
    font-weight: 800;
}

.random_winner {
    background-color: transparent;
    color: var(--white);
    border-radius: var(--border-radius);
    border: var(--border-white);
}

.winner_text{
    color: var(--white);
    padding-top: 0.2rem;
    font-weight: 150;
}

.random_button {
    margin-top: 1rem;
    font-size: var(--text-font-size);
    font-weight: 800;
    padding: .5rem .8rem;
    border: var(--border-white);
    border-radius: var(--border-radius);
    color: var(--deep-blue);
    cursor: pointer;

}