:root {
  --primary-color: #00d8ff;
  --sky-blue: #6ed9ff;
  --blue: #1f7e9f;
  --deep-blue: #254f7f;

  --secondary-color: #545454;
  --gray: #5f5f5f;
  --ligth-gray: #8a8a8a;
  --lighter-gray: #b5b5b5;

  --black: #000000;
  --white: #ffffff;
  --secondary-white: #f4f4f4;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(14, 23, 56);
  font-size: 16px;
}

.titles {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 1.5em 0 0.1em;
  color: var(--white);
}

.text {
  margin-top: 2em;
  font-weight: 500;
  color: white;
  text-align: center;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.main-button {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 15px;
  border-radius: 10px;
  color: var(--black);
  background: var(--primary-color);
}

.main-button:hover {
  background: var(--sky-blue);
  border: 1px solid;
  border: double;
}

.btn {
  padding: 1px;
  display: flex;
  position: absolute;
  top: 60%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    159deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 23, 56, 1) 28%,
    rgba(9, 86, 122, 1) 67%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  color: var(--white);
}

.btn:hover {
  border-radius: 5px;
  cursor: pointer;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    214deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(14, 23, 56, 1) 28%,
    rgba(9, 86, 122, 1) 67%,
    rgba(0, 212, 255, 1) 100%
  );
  scale: 1.1;
}

@media (min-width: 540px) {
  .main-button {
    font-size: 1.2rem;
    padding: 10px;
  }
}

@media (max-width: 390px){
  .titles{
    font-size: 2.2rem;
  }
}