.container{
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.yt_enlaces{
    text-decoration: none;
}

.youtube_card{
    display:  flex;
    flex-direction: column;
    justify-self: center;
}

.image{
    border-radius: 10px;
}

.titulo{
    color: white;
}