.subtitle{
    color: #292F33;
    text-align: center;
    opacity: 0.7;
    font-weight: 400;
    line-height: 15px;
}

.text{
    color: white;
    font-weight: 300;
    text-align: center;
    margin: 10px;
    font-size: 1em;
    word-spacing: 4.5px;
}

.text > span{
    display: flex;
    margin-top: 0.9em;
    font-weight: 700;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img:hover{
    opacity: 0.5;
}

.img {
    padding: 0.9em;
}