.hero_bg{
    background-image: url('../public/axel-eres-5K0U0Gc5Nmk-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.title {
    text-align: center;
    font-size: 200%;
    font-weight: 900;
    color: #ffffff;
}

.outerHeading{
   height: 100vh; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.innerHeading{
    border: 0px solid #ddd;
    height: 40px;
    display: flex;
    justify-content: center
}

/* Animation code */
.span1 {
    position: absolute;
    color: black;
    opacity: 0;
    animation: animation1 5s infinite; 
}

.span2 {
    position: absolute;
    color: black;
    opacity: 0;
    animation: animation2 5s infinite; 
}

@keyframes animation1 {
    10%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes animation2 {
    70%{
        opacity: 0;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
    
}