
.body{
    margin: 0;
    padding: 0;
    background-color:rgb(14,    23, 56); 
}

.titles{
    margin-top: 2em;
    text-align: center;
    color: white;
}

.text{
    margin-top: 2em;
    font-weight: 500;
    color: white;
    text-align: center;
}