.teamComponent {
    padding-bottom: 5em;
}

.teamCard {
    display: flex;
    border-radius: 5px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.teamMember {
    display: flex;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(14, 23, 56, 1) 35%, rgba(14, 23, 56, 0.5551470588235294) 100%);
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    width: 100%;
    margin: 0.5em;
}

.memberData {
    display: flex;
    flex-direction: column;
}

.memberData h5,
.memberData p,
.memberData div {
    margin: 0;
    padding-left: 5px;
    color: #ffffff;
}

.borderPic {
    border-radius: 50%;
}