.social_media_container {
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0px;
  backdrop-filter: blur(9px) saturate(96%);
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(209, 213, 219, 0.3);
  padding: 5px;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 4px;
}

.icon {
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  padding: 6px;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
  scale: 1.1;
}

@media (max-width: 767px) {
    .social_media_container {
        display: none;
    }
}